@media screen and (max-width: 668px)
    .section-help
        @include vwplusemmb('padding-top', 65)
        @include vwplusemmb('padding-bottom', 100)
        h2
            $f: 34
            @include vwplusemmb('margin-top', 10, $f)

        &__pulse
            @include vwplusemmb('height', 360)
            @include vwplusemmb('width', 360)


    .section-faq
        @include vwplusemmb('padding-top', 50)
        @include vwplusemmb('padding-bottom', 50)

    .faq-item
        margin: 0
        &__title
            box-shadow: none
            border-top: 1px solid #dddddd
            border-top: 1px solid #dddddd
            @include vwplusemmb('padding-right', 100)
            @include vwplusemmb('padding-left', 25)
            @include vwplusemmb('padding-top', 30)
            @include vwplusemmb('padding-bottom', 30)
            svg
                @include vwplusemmb('width', 30)
                @include vwplusemmb('height', 30)
                @include vwplusemmb('right', 25)
        &__text
            @include vwplusemmb('padding-right', 25)
            @include vwplusemmb('padding-left', 25)
            @include vwplusemmb('padding-top', 21)
            @include vwplusemmb('padding-bottom', 35)
            p
                $f: 26
                @include vwplusemmb('font-size', $f)