@media screen and (max-width: 660px)
    .footer
        .section-main__pulse
            @include vwplusemmb('width', 100)
            @include vwplusemmb('height', 100)
        &__nav
            @include vwplusemmb('padding-top', 60)
            @include vwplusemmb('padding-bottom', 60)
            @include vwplusemmb('padding-left', 10)
            @include vwplusemmb('padding-right', 10)
            overflow: hidden
        .nav-menu
            float: right
            width: 100%
            @include vwplusemmb('margin-top', 40)
        &__copy 
            @include vwplusemmb('height', 100)
            @include vwplusemmb('line-height', 100)
            @include vwplusemmb('padding-left', 10)
            @include vwplusemmb('padding-right', 10)
            &-title
                $f: 26
                @include vwplusemmb('font-size', $f)
            &-company
                $f: 26
                @include vwplusemmb('font-size', $f)
        .menu
            display: flex
            flex-wrap: wrap
            @include vwplusemmb('padding-bottom', 20)
            li
                width: 50%
                margin-right: 0
                @include vwplusemmb('margin-bottom', 30)
                a
                    $f: 26
                    @include vwplusemmb('font-size', $f)
        .btn
            width: 100%