@media screen and (max-width: 660px)
    .container
        max-width: 100%
        @include vwplusemmb('padding-left', 15)
        @include vwplusemmb('padding-right', 15)

    .row
        @include vwplusemmb('margin-left', -5)
        @include vwplusemmb('margin-right', -5)

    .col-sm-6
        float: left
        width: 50%
        @include vwplusemmb('padding-left', 10)
        @include vwplusemmb('padding-right', 10)

    .col-sm-12
        float: left
        width: 100%
        @include vwplusemmb('padding-left', 10)
        @include vwplusemmb('padding-right', 10)

    .col-md-6
        @include vwplusemmb('padding-left', 10)
        @include vwplusemmb('padding-right', 10)

    
    .col-xs-6
        width: 50%
        float: left
        @include vwplusemmb('padding-left', 10)
        @include vwplusemmb('padding-right', 10)

    .col-xs-12
        width: 100%
        @include vwplusemmb('padding-left', 10)
        @include vwplusemmb('padding-right', 10)

    //Main text blocks=======================================================================================>
    h1
        $f: 50
        @include vwplusemmb('font-size', $f)
    h2
        $f: 36
        @include vwplusemmb('font-size', $f)
    h4
        $f: 32
        @include vwplusemmb('line-height', 34, $f)
        @include vwplusemmb('font-size', $f)

    h5
        $f: 32
        @include vwplusemmb('font-size', $f)

    p
        $f: 26
        @include vwplusemmb('font-size', $f)

    .btn
        $f: 36
        @include vwplusemmb('width', 300, $f)
        @include vwplusemmb('line-height', 85, $f)
        @include vwplusemmb('font-size', $f)

    .ic-oval
        &:after
            @include vwplusemmb('width', 10)
            @include vwplusemmb('height', 10)
            @include vwplusemmb('margin-bottom', 22)

    #scrollUp
        top: 10%
        right: 5%
        @include vwplusemmb('width', 66)
        @include vwplusemmb('height', 66)
        svg
            @include vwplusemmb('width', 32)
            @include vwplusemmb('height', 40)