@media screen and (max-width: 668px)
    .menu-on
        header
            .menu
                display: block
                @include vwplusemmb('padding-left', 50)
                @include vwplusemmb('padding-right', 50)
                li
                    @include vwplusemmb('line-height', 40)
                    @include vwplusemmb('margin-top', 15)
                    @include vwplusemmb('padding-bottom', 15)
                    a
                        $f: 34
                        line-height: 2.35
                        @include vwplusemmb('font-size', $f)

    .header
        @include vwplusemmb('line-height', 100)
        @include vwplusemmb('padding-left', 30)
        @include vwplusemmb('padding-right', 30)
        .container
            padding: 0
    .logo
        position: relative
        @include vwplusemmb('height', 18)
        @include vwplusemmb('width', 161)