@media screen and (max-width: 660px)
    .section-main
        height: auto
        @include vwplusemmb('padding-top', 140)
        @include vwplusemmb('padding-bottom', 160)
        p
            $f: 18
            position: relative
            @include vwplusemmb('width', 500, $f)
            @include vwplusemmb('margin-top', 20, $f)
            @include vwplusemmb('margin-bottom', 40, $f)
        .bgline
            @include vwplusemmb('bottom', 50)
            img
                width: 100%
        .pulse
            position: absolute
            right: -6%
            top: auto
            bottom: 10%
            .light-bg, .light-md
                position: absolute
                z-index: 2

            .light-bg
                transform: translateX(-50%)
                @include vwplusemmb('left', -10)
                @include vwplusemmb('top', -120)
                @include vwplusemmb('width', 490)
            .light-md
                transform: translateX(-50%)
                @include vwplusemmb('left', -10)
                @include vwplusemmb('top', -50)
                @include vwplusemmb('width', 490)
            &-oval
                background-color: #3030bd
                border-radius: 100%
                position: relative
                overflow: hidden
                @include vwplusemmb('height', 500)
                @include vwplusemmb('width', 500)
                .stift
                    @include vwplusemmb('left', -45)
                    @include vwplusemmb('top', -80)
                    @include vwplusemmb('width', 470)
                    @include vwplusemmb('height', 330)
                .light
                    @include vwplusemmb('right', -20)
                    @include vwplusemmb('bottom', -50)
                    @include vwplusemmb('width', 350)
                    @include vwplusemmb('height', 300)

    .section-overview
        @include vwplusemmb('margin-top', 60)
        @include vwplusemmb('margin-bottom', 60)
        .container
            padding: 0
        &__content
            i
                @include vwplusemmb('top', 6)
                @include vwplusemmb('left', -40)
                @include vwplusemmb('width', 22)
                @include vwplusemmb('height', 22)
            
        .video
            @include vwplusemmb('height', 450)
            @include vwplusemmb('margin-top', 80)
            @include vwplusemmb('margin-bottom', 50)
            img
                object-fit: cover
            &-play
                @include vwplusemmb('width', 80)
                @include vwplusemmb('height', 80)

            &-line
                @include vwplusemmb('height', 120)
                @include vwplusemmb('width', 6)
            &-title
                @include vwplusemmb('width', 450)
                @include vwplusemmb('bottom', 40)

        .ul-thumb
            margin-top: 0
            @include vwplusemmb('margin-left', 10)
            @include vwplusemmb('margin-right', 10)
            .li-thumb
                @include vwplusemmb('padding-left', 70)
                @include vwplusemmb('margin-top', 36)

        .ic-okay
            @include vwplusemmb('top', 6)
            @include vwplusemmb('height', 40)
            @include vwplusemmb('width', 40)
            svg
                height: 100%
                width: 100%

        .ic-bgC-1
            @include vwplusemmb('height', 80)
        .ic-bgC-2
            @include vwplusemmb('height', 180)

    .section-curing
        overflow: hidden
        @include vwplusemmb('margin-top', 60)
        @include vwplusemmb('margin-bottom', 60)
        .container
            padding: 0
        .row-flex
            display: block
        .curing
            width: 100%
            display: block
            margin: 0
            &-image
                margin-top: 0
                width: 100%
                @include vwplusemtb('height', 500)
                &.of-right
                    @include vwplusemtb('margin-right', -30)
                    .ic-curing
                        bottom: 80%
                        right: 95%
                        display: none
                        @include vwplusemtb('width', 340)
                        @include vwplusemtb('height', 321)
                    img
                        transform: translate(40%,20%)
                        @include vwplusemtb('width', 360)
                        @include vwplusemtb('height', 360)
                    & + .curing-text
                        margin: auto

                &.of-left
                    .ic-curing
                        bottom: 80%
                        left: 40%
                        display: none
                        @include vwplusemtb('width', 390)
                        @include vwplusemtb('height', 290)
                    img
                        transform: translate(45%,0%)
                        @include vwplusemtb('width', 360)
                        @include vwplusemtb('height', 360)
                    & + .curing-text
                        margin: auto

            &-text
                width: 100%
                @include vwplusemmb('padding-right', 30)
                @include vwplusemmb('padding-left', 30)
                &__item
                    @include vwplusemmb('margin-top', 40)
                    @include vwplusemmb('padding-bottom', 40)
                    &:first-child
                        @include vwplusemmb('margin-top', 40)
                    i
                        @include vwplusemmb('width', 16)
                        @include vwplusemmb('height', 13)
                        @include vwplusemmb('top', 12)
                    h4
                        @include vwplusemmb('padding-left', 30, 22)
                        @include vwplusemmb('margin-bottom', 15, 22)

    .section-marker
        @include vwplusemmb('margin-top', 97)
        @include vwplusemmb('margin-bottom', 97)
        .container
            padding: 0
        &__content
            display: block
        &__text
            padding: 0 15px
            @include vwplusemtb('margin-bottom', 100)
            h2
                @include vwplusemtb('margin-bottom', 5, 34)
        &__image
            width: 100%
            position: relative
            @include vwplusemmb('height', 600)
            #mgs-pic
                img
                    @include vwplusemmb('left', -20)
                    @include vwplusemmb('bottom', 40)
                    @include vwplusemmb('width', 300)
            #pw-pic
                img
                    transform: rotate(-12deg)
                    right: 0
                    @include vwplusemmb('bottom', 40)
                    @include vwplusemmb('width', 300)
            #mgs-bg
                img
                    @include vwplusemmb('right', 40)
                    @include vwplusemmb('width', 300)
                    @include vwplusemmb('height', 550)
            #pw-bg
                img
                    @include vwplusemmb('left', 40)
                    @include vwplusemmb('width', 300)
                    @include vwplusemmb('height', 550)
            .oval
                @include vwplusemmb('height', 600)

        &__example
            padding: 0 15px
            @include vwplusemmb('margin-top', 60)
            @include vwplusemmb('margin-bottom', 60)
            .example
                @include vwplusemmb('height', 240)
                @include vwplusemmb('margin-top', 20)
                &-text
                    @include vwplusemmb('padding-top', 17)
                    @include vwplusemmb('padding-bottom', 17)
                    h5
                        $f: 20
                        @include vwplusemmb('font-size', $f)
        &__steps
            padding: 0 15px
            @include vwplusemmb('margin-top', 60)
            @include vwplusemmb('margin-bottom', 60)
            h2
                @include vwplusemmb('margin-bottom', 50, 40)
            img
                margin-top: 0
                @include vwplusemmb('height', 280)
                @include vwplusemmb('margin-bottom', 50)
            .ul-steps
                span
                    $f: 45
                    @include vwplusemmb('font-size', $f)
                    @include vwplusemmb('line-height', 80, $f)
                p
                    $f: 24
                    @include vwplusemmb('font-size', $f)
                    @include vwplusemmb('margin-left', 50, $f)

        &.of-mgs
            .section-marker__image
                transform: translate(0, 0)
            .section-marker__text
                width: 100%
            .section-marker__content
                margin: 0
        &.of-pw
            .section-marker__image
                transform: translate(0, 0)
            .section-marker__text
                width: 100%
            .section-marker__content
                margin: 0

    .select-color
        @include vwplusemmb('margin-top', 60)
        &__list
            @include vwplusemmb('margin-top', 60)
            @include vwplusemmb('margin-bottom', 60)
        &__title
            $f: 26
            @include vwplusemmb('font-size', $f)
            @include vwplusemmb('margin-right', 23, $f)
        &__data
            $f: 26
            @include vwplusemmb('font-size', $f)
        label
            @include vwplusemmb('width', 50)
            @include vwplusemmb('height', 50)
            @include vwplusemmb('margin-right', 35)
            span
                @include vwplusemmb('border-width', 11)

    .section-options
        @include vwplusemmb('margin-top', 60)
        @include vwplusemmb('margin-bottom', 60)   
        h4
            $f: 22
            @include vwplusemmb('padding-left', 30, $f)
            @include vwplusemmb('margin-top', 22, $f)
            @include vwplusemmb('margin-bottom', 22, $f)
        ul
            li
                $f: 24
                @include vwplusemmb('font-size', $f)
                @include vwplusemmb('margin-top', 35, $f)
                @include vwplusemmb('padding-left', 45, $f)
                &:before
                    @include vwplusemmb('top', 15, $f)
                    @include vwplusemmb('width', 20, $f)
        .row-flex
            @include vwplusemmb('margin-top', 64)   
            .col-flex-4
                width: 100%
                @include vwplusemmb('margin-top', 40) 
                @include vwplusemmb('margin-left', 20) 
                @include vwplusemmb('margin-right', 20) 
        .ic-blufixx
            @include vwplusemmb('height', 350)
            @include vwplusemmb('margin-bottom', 40) 

    .section-information
        @include vwplusemmb('margin-top', 60)
        @include vwplusemmb('margin-bottom', 60)
        @include vwplusemmb('margin-top', 60)
        @include vwplusemmb('margin-bottom', 60)
        &__form
            width: 100%
            @include vwplusemmb('margin-top', 100)
            @include vwplusemmb('margin-bottom', 100)
            p
                $f: 26
                @include vwplusemmb('margin-top', 40, $f)
                @include vwplusemmb('margin-bottom', 8, $f)
                @include vwplusemmb('padding-left', 20, $f) 
                @include vwplusemmb('padding-right', 20, $f) 
            a
                $f: 18
                @include vwplusemmb('margin-top', 40, $f)
            .btn
                width: 100%
        &__image
            width: 100%
            @include vwplusemmb('height', 305)


    @keyframes mgs-pic
        from
            opacity: 0
            transform: rotate(20deg) rotate(12deg)
            
        to
            opacity: 1
            transform: rotate(0) rotate(12deg)

    @keyframes pw-pic
        from
            opacity: 0
            transform: rotate(-20deg) rotate(-12deg)
            
        to
            opacity: 1
            transform: rotate(0) rotate(-12deg)
