footer.footer
    .pulse
        .pulse-oval
    .footer__nav
        .container
            a(href="#").logo
                include ../../img/sprite/svg/logo-blufixx.svg
            .nav-menu
                ul.menu
                    li
                        a(href="#section-curing") Преимущества
                    li
                        a(href="#section-marker") BLUFIXX - Маркер
                    li
                        a(href="#section-marker__steps") Шаг за шагом
                    li
                        a(href="/faq.html") FAQ
                a(href="#").btn.btn-pay.
                    Купить

    .footer__copy
        .container
            .footer__copy-title © 2018 BLUFIXX, Inc.
            .footer__copy-company
                | Сделано в 
                a(href="#") Polyarix