head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1 user-scalable=no")
  meta(name="format-detection" content="telephone=no")
  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")

  link(rel="stylesheet", href="css/vendor.css")
  link(rel="stylesheet", href="css/main.css")

  link(href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet")
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  title Blufixx