header.header
    .container
        a(href="./").logo
            include ../../img/sprite/svg/logo-blufixx.svg
        .nav-menu
            ul.menu
                li
                    a(href="#section-curing") Преимущества
                li
                    a(href="#section-marker") BLUFIXX - Маркер
                li
                    a(href="#section-marker__steps") Шаг за шагом
                li
                    a(href="/faq.html") FAQ
            
            a(href="#").btn.btn-pay.
                Купить

        span.button-toggle
            i

.loading
    .loading__box
        .loading__loader
            .loading__loader__box
        figure.logo
            include ../../img/sprite/svg/logo-blufixx.svg

button#scrollUp
    include ../../img/sprite/svg/scrollUp.svg