
.section-help
    background-image: linear-gradient(#000000, #000000), radial-gradient(circle at 49% 44%, rgba(255, 255, 255, 0.1), rgba(169, 169, 169, 0.11))
    text-align: center
    position: relative
    overflow: hidden
    width: 100%
    @include vwplusem('padding-top', 65)
    @include vwplusem('padding-bottom', 100)
    h5
        color: #dddddd
        position: relative
    h1
        color: #ffffff
        position: relative
    .line
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: 100%
        height: 100%
        animation: line-blick 4s infinite

    &__pulse
        position: absolute
        display: inline-block
        vertical-align: middle
        top: 0
        right: 40%
        transform: translate(100%,-50%)
        @include vwplusem('height', 360)
        @include vwplusem('width', 360)
        &-lg
            position: absolute
            display: block
            width: 100%
            height: 100%
            transform: scale(2)
            box-shadow: inset 15px 70px 100px 40px rgba(13, 92, 232,.25)
            border-radius: 100%
            animation: pulse-2 1.8s
        &-md
            position: absolute
            display: block
            width: 100%
            height: 100%
            transform: scale(1.5)
            box-shadow: inset 15px 70px 100px 4px rgba(232,13,177,.25)
            border-radius: 100%
            animation: pulse-1 1.4s
        &-sm
            position: absolute
            display: block
            width: 100%
            height: 100%
            transform: scale(1)
            background-image: linear-gradient(290deg, #ff8300, #fbe34a)
            border-radius: 100%
            animation: pulse-3 .8s


.section-faq
    @include vwplusem('padding-top', 50)
    @include vwplusem('padding-bottom', 50)

.faq-item
    @include vwplusem('margin-top', 50)
    @include vwplusem('margin-bottom', 50)
    &.active
        h4
            color: #2f2fbc
        svg
            transform: translateY(-50%) rotate(90deg)
            path
                fill: #2f2fbc
        .faq-item__title
            box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.18)

    &__title
        cursor: pointer
        position: relative
        transition: .6s
        
        @include vwplusem('padding-right', 65)
        @include vwplusem('padding-left', 65)
        @include vwplusem('padding-top', 17)
        @include vwplusem('padding-bottom', 14)
        h4
            color: #333333
            line-height: 1.55
            transition: .6s
        svg
            position: absolute
            right: 25px
            top: 50%
            transform: translateY(-50%) rotate(-90deg)
            transition: .6s
            @include vwplusem('width', 18)
            @include vwplusem('height', 18)
            
            path
                fill: #474747
    &__text
        display: none
        @include vwplusem('padding-right', 225)
        @include vwplusem('padding-left', 98)
        @include vwplusem('padding-top', 50)
        @include vwplusem('padding-bottom', 20)
        p
            $f: 18
            color: #777777
            line-height: 2
            @include vwplusem('font-size', $f)