.section-main
    @include vwplusem('padding-top', 100)
    @include vwplusem('padding-bottom', 100)
    @include vwplusem('height', 700)
    position: relative
    overflow: hidden
    background-image: linear-gradient(#000000, #000000), radial-gradient(circle at 49% 44%, rgba(255, 255, 255, 0.1), rgba(169, 169, 169, 0.11))
    h1
        color: #ffffff
    h5
        color: #ffffff
    p
        $f: 18
        line-height: 1.89
        color: #ffffff
        @include vwplusem('width', 585, $f)
        @include vwplusem('margin-top', 20, $f)
        @include vwplusem('margin-bottom', 40, $f)
    &__text
        position: relative
    .bgline
        position: absolute
        left: 0
        z-index: 0
        @include vwplusem('bottom', 50)
        img
            width: 100%
            animation: line-blick 4s infinite
    .pulse
        position: absolute
        right: 18%
        top: 15%
        z-index: 0
        .light-bg, .light-md
            position: absolute
            z-index: 1

        .light-bg
            transform: translateX(-50%)
            animation: anim-show 1s
            animation-delay: 4s
            animation-fill-mode: forwards
            opacity: 0
            @include vwplusem('left', -30)
            @include vwplusem('top', -126)
            @include vwplusem('width', 490)
        .light-md
            transform: translateX(-50%)
            animation: anim-show 1s
            animation-delay: 4.5s
            animation-fill-mode: forwards
            opacity: 0
            @include vwplusem('left', -30)
            @include vwplusem('top', -46)
            @include vwplusem('width', 490)
        &-oval
            background-color: #3030bd
            border-radius: 100%
            position: relative
            overflow: hidden
            pointer-events: none
            @include vwplusem('width', 515)
            @include vwplusem('height', 515)
        .stift
            display: none
            position: absolute
            z-index: 0
            animation: anim-stift 1s
            @include vwplusem('left', 78)
            @include vwplusem('top', 20)
            @include vwplusem('width', 340)
            @include vwplusem('height', 240)
        .light
            display: none
            position: absolute
            z-index: 0
            animation: anim-pen 1s
            @include vwplusem('right', 58)
            @include vwplusem('bottom', 20)
            @include vwplusem('width', 300)
            @include vwplusem('height', 230)

        &:before, &:after
            content: ''
            display: none
            width: 100%
            height: 100%
            border-radius: 100%
            position: absolute
            left: 0
            top: 0
        &:before
            transform: scale(2.2)
            animation: pulse-2 1.8s
            box-shadow: inset 15px 70px 100px 40px rgba(13, 92, 232,.25)
        &:after
            transform: scale(1.5)
            animation: pulse-1 1.4s
            box-shadow: inset 15px 70px 100px 4px rgba(232,13,177,.25)
        &.anim
            .stift, .light, &:after, &:before
                display: block
            
        
.section-curing
    @include vwplusem('padding-top', 80)
    h2
        text-align: center
    .row-flex
        align-items: flex-start
        @include vwplusem('margin-top', 100)
        @include vwplusem('margin-bottom', 100)
    .curing
        display: inline-block
        width: 50%
        display: flex
        justify-content: space-between
        &:nth-child(2n+1)
            flex-direction: row-reverse
        &-image
            position: relative
            background-image: linear-gradient(to bottom, #0fbbec, #3030bd)
            @include vwplusem('width', 165)
            @include vwplusem('height', 546)
            @include vwplusem('margin-top', 30)
            &.of-right
                margin-right: -1px
                .ic-curing
                    display: inline-block
                    position: absolute
                    z-index: 2
                    bottom: 80%
                    right: 95%
                    @include vwplusem('width', 340)
                    @include vwplusem('height', 321)
                    svg, img
                        transform: none
                        width: 100%
                        height: 100%
                img
                    position: relative
                    z-index: 1
                    transform: translate(-23%, 15%)
                    @include vwplusem('width', 473)
                    @include vwplusem('height', 470)
            &.of-left
                margin-left: -1px
                .ic-curing
                    display: inline-block
                    position: absolute
                    z-index: 2
                    bottom: 85%
                    left: 65%
                    @include vwplusem('width', 390)
                    @include vwplusem('height', 290)
                    svg, img
                        transform: rotate(-10deg)
                        width: 100%
                        height: 100%
                img
                    transform: translate(-63%,2%)
                    @include vwplusem('width', 425)
                    @include vwplusem('height', 518)

        &-text
            @include vwplusem('width', 255)
            &__item
                position: relative
                border-bottom: 1px solid #dddddd
                @include vwplusem('margin-top', 45)
                @include vwplusem('padding-bottom', 20)
                &:first-child
                    margin: 0
                &:last-child
                    border: none
                i
                    position: absolute
                    left: 0
                    display: inline-block
                    @include vwplusem('width', 16)
                    @include vwplusem('height', 13)
                    @include vwplusem('top', 12)
                    svg
                        display: block
                        width: 100%
                        height: 100%
                h4
                    color: #2f2fbc
                    @include vwplusem('padding-left', 30, 22)
                    @include vwplusem('margin-bottom', 15, 22)

.section-overview
    @include vwplusem('margin-top', 50)
    @include vwplusem('margin-bottom', 50)
    h2
        text-align: center
    .ic-bgC-1
        display: inline-block
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        @include vwplusem('height', 159)
        svg
            height: 100%
            width: 100%
    .ic-bgC-2
        display: inline-block
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        @include vwplusem('height', 249)
        svg
            height: 100%
            width: 100%
    .ic-okay
        position: absolute
        left: 0
        @include vwplusem('top', 6)
        @include vwplusem('height', 22)
        @include vwplusem('width', 22)
        svg
            height: 100%
            width: 100%
    .ul-thumb
        @include vwplusem('margin-left', 40)
        @include vwplusem('margin-right', 40)
        .li-thumb
            position: relative
            @include vwplusem('padding-left', 44)
            @include vwplusem('margin-left', 10)
            @include vwplusem('margin-right', 10)
            @include vwplusem('margin-top', 36)
    &__video
        position: relative
        @include vwplusem('margin-top', 55)
        @include vwplusem('margin-bottom', 55)
        .video
            position: relative
            width: 100%
            cursor: pointer
            display: block
            overflow: hidden
            @include vwplusem('height', 430)
            &:hover
                .video-play
                    transform: translate(-50%, -50%) scale(1.2)
                .top
                    top: -100%
                .bottom
                    bottom: -100%
            img
                width: 100%
                height: 100%
            &-title
                position: absolute
                @include vwplusem('left', 63)
                @include vwplusem('bottom', 42)
                h4
                    color: #ffffff
                    font-weight: 500
                p
                    color: #ffffff
                    line-height: 1.25
            &-play
                display: inline-block
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                transition: 1s
                @include vwplusem('width', 72)
                @include vwplusem('height', 72)
                svg
                    height: 100%
                    width: 100%
            &-line
                display: inline-block
                position: absolute
                left: 50%
                transform: translateX(-50%)
                @include vwplusem('height', 150)
                @include vwplusem('width', 2)
                &.top
                    top: 0
                    transition: 2s
                &.bottom
                    bottom: 0
                    transition: 2s
                svg
                    width: 100%
                    height: 100%
    
.section-marker
    overflow: hidden
    border-bottom: 1px solid #dddddd
    @include vwplusem('margin-top', 97)
    @include vwplusem('margin-bottom', 97)
    &__content
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        overflow: hidden
        position: relative
    &__text
        display: inline-block
        @include vwplusem('width', 492)
        @include vwplusem('margin-bottom', 50)
        h2
            @include vwplusem('margin-bottom', 5, 34)

    &__image
        display: inline-block
        vertical-align: bottom
        position: relative
        @include vwplusem('width', 567)
        img
            position: absolute
            bottom: 0
            transition: .5s
            transform-origin: bottom
            opacity: 1
        #mgs-pic
            img
                z-index: 1
                @include vwplusem('left', 25)
                @include vwplusem('bottom', 10)
                @include vwplusem('width', 260)
                &.on
                    animation: mgs-pic .5s
                &.off
                    opacity: 0
                    transform: rotate(-20deg)
        #mgs-bg
            img
                @include vwplusem('right', 50)
                @include vwplusem('bottom', -10)
                @include vwplusem('width', 280)
                @include vwplusem('height', 490)
                &.on
                    opacity: 1
                &.off
                    opacity: 0
        #pw-pic
            img
                z-index: 1
                @include vwplusem('right', 80)
                @include vwplusem('bottom', 30)
                @include vwplusem('width', 260)
                &.on
                    animation: pw-pic .5s
                &.off
                    opacity: 0
                    transform: rotate(-20deg)

        #pw-bg
            img
                @include vwplusem('left', 60)
                @include vwplusem('bottom', -10)
                @include vwplusem('width', 300)
                @include vwplusem('height', 560)
                &.on
                    opacity: 1
                &.off
                    opacity: 0
        .oval
            display: inline-block
            width: 100%
            border-radius: 50%
            position: absolute
            bottom: 0 
            transform: translateY(50%)
            @include vwplusem('height', 567)

    &.of-mgs
        .section-marker__image
            .oval
                background-image: linear-gradient(295deg, #ff8300, #fbe34a)   
    &.of-pw
        .section-marker__content
            flex-direction: row-reverse
        .section-marker__image
            .oval
                background-image: linear-gradient(122deg, #b200a1, #e80d53)

    &__example
        @include vwplusem('margin-top', 96)
        @include vwplusem('margin-bottom', 96)
        .example
            position: relative
            overflow: hidden
            background: rgba(0,0,0,.6)
            transition: .5s ease-in-out
            box-shadow: 0 13px 31px 0 rgba(0, 0, 0, 0.19)
            @include vwplusem('height', 210)   
            &:hover
                cursor: pointer
                background: rgba(0,0,0,0)
                .example-text
                    transform: translateY(100%)
            img
                width: 100%
                height: 100%
                z-index: -1
                position: relative
            &-text
                position: absolute
                right: 0
                left: 0
                bottom: 0
                text-align: center
                transition: .5s ease-in-out
                @include vwplusem('padding-top', 17)
                @include vwplusem('padding-bottom', 17)
                h5
                    $f: 16
                    color: #ffffff
                    @include vwplusem('font-size', $f)
                    @include vwplusem('margin-bottom', 16, $f)
                .ic-ov
                    display: block
                    width: 6px
                    height: 6px
                    border-radius: 100%
                    background: #ffffff
                    margin: auto

    &__steps
        @include vwplusem('margin-top', 96)
        @include vwplusem('margin-bottom', 50)
        h2
            text-align: center
            @include vwplusem('margin-bottom', 30, 40)
        img
            display: inline-block
            width: 100%
            object-fit: cover 
            @include vwplusem('height', 174)
            @include vwplusem('margin-top', 30)
            @include vwplusem('margin-bottom', 40)
        .ul-steps
            span
                $f: 44
                color: #2f2fbc
                font-weight: bold
                float: left
                transform: translateY(-40%)
                @include vwplusem('font-size', $f)
                @include vwplusem('line-height', 44, $f)
            p
                $f: 16
                font-family: 'Oswald'
                text-transform: uppercase
                @include vwplusem('margin-left', 50, $f)


.section-options
    @include vwplusem('margin-top', 120)
    @include vwplusem('margin-bottom', 120)
    h2
        text-align: center    
    h4
        $f: 22
        color: #2f2fbc
        font-weight: 500
        @include vwplusem('padding-left', 30, $f)
        @include vwplusem('margin-top', 22, $f)
        @include vwplusem('margin-bottom', 22, $f)
    ul
        list-style: none
        li
            $f: 16
            font-family: Roboto
            line-height: 1.57
            letter-spacing: normal
            color: #474747
            position: relative
            @include vwplusem('font-size', $f)
            @include vwplusem('margin-top', 15, $f)
            @include vwplusem('padding-left', 30, $f)
            &:before
                content: ''
                display: inline-block
                position: absolute
                left: 0
                background-color: #2f2fbc
                height: 2px
                @include vwplusem('top', 11, $f)
                @include vwplusem('width', 10, $f)
    .row-flex
        align-items: flex-start
        @include vwplusem('margin-top', 64)   
        .col-flex-4
            @include vwplusem('width', 320)
    .ic-blufixx
        display: inline-block
        width: 100%
        @include vwplusem('height', 203)
        svg
            height: 100%
            width: 100%

.section-information
    overflow: hidden
    @include vwplusem('margin-top', 120)
    @include vwplusem('margin-bottom', 120)
    &__form
        display: inline-block
        @include vwplusem('width', 490)
        p
            $f: 16
            @include vwplusem('margin-top', 8, $f)
            @include vwplusem('margin-bottom', 8, $f)
        a
            $f: 18
            @include vwplusem('margin-top', 40, $f)
    &__image
        display: inline-block
        position: relative
        vertical-align: top
        float: right
        @include vwplusem('width', 660)
        @include vwplusem('height', 305)
        img
            position: absolute
            bottom: 0
            width: 100%
            @include vwplusem('left', -20)

.select-color
    @include vwplusem('margin-top', 45)
    &__list
        @include vwplusem('margin-top', 40)
        @include vwplusem('margin-bottom', 45)
    &__title
        $f: 22
        color: #777777
        font-family: 'Roboto'
        @include vwplusem('font-size', $f)
        @include vwplusem('margin-right', 23, $f)
    &__data
        $f: 22
        color: #333333
        font-family: 'Roboto'
        @include vwplusem('font-size', $f)

    .color-1
        border: solid 1px #d2d2d2
        span
            background-image: linear-gradient(123deg, #d2d2d2, #919191)
    .color-2
        border: solid 1px #f1ebeb
        span
            background-image: linear-gradient(123deg, #f9f3f3, #d9d6d6)
    .color-3
        border: solid 1px #eee298
        span
            background-image: linear-gradient(123deg, #f1eea8, #e4a947)
    .color-4
        border: solid 1px #e89e4b
        span
            background-image: linear-gradient(123deg, #f2ac59, #bd6312)
    .color-5
        border: solid 1px #7d6d6a
        span
            background-image: linear-gradient(123deg, #897a78, #3a2518)
    .color-6
        border: solid 1px #4f4f4f
        span
            background-image: linear-gradient(123deg, #505050, #1b1b1b)

    label
        display: inline-block
        border-radius: 100%
        cursor: pointer
        @include vwplusem('width', 46)
        @include vwplusem('height', 46)
        @include vwplusem('margin-right', 30)
        // @include vwplusem('padding', 10)
        
        vertical-align: top
        &:hover
            span
                border-width: 0
        &:last-child
            margin: 0
        input
            display: none
            &:checked + span
                border-width: 0
        span
            border-radius: 100%
            display: inline-block
            width: 100%
            height: 100%
            border-style: solid
            border-color: #ffffff
            transition: all .5s
            @include vwplusem('border-width', 11)

@keyframes line-blick
    from
        opacity: .6
    50%
        opacity: 1
    to
        opacity: .6
        
@keyframes pulse-1
    from
        transform: scale(1)
        
    to
        transform: scale(1.5)

@keyframes pulse-2
    from
        transform: scale(1)
        
    to
        transform: scale(2.2)

@keyframes mgs-pic
    from
        opacity: 0
        transform: rotate(20deg)
        
    to
        opacity: 1
        transform: rotate(0)

@keyframes pw-pic
    from
        opacity: 0
        transform: rotate(-20deg)
        
    to
        opacity: 1
        transform: rotate(0)


@keyframes anim-pen
    from
        opacity: 0
        transform: translate(30%, 30%)
        
    to
        opacity: 1
        transform: translate(0, 0)

@keyframes anim-stift
    from
        opacity: 0
        transform: translate(-30%, -30%)
        
    to
        opacity: 1 
        transform: translate(0, 0)

@keyframes anim-show
    from
        opacity: 0
        
    to
        opacity: 1 