doctype html
html(lang="ru")
  include ./partials/head
  body.page-faq
    include ./partials/header
    
    section.section-help
        img(src="./img/pages/example/faq-line.png", alt="Image").line
        .container
            .ic-oval
            h5 Часто задаваемы вопроы
            h1 Мы здесь чтобы помочь вам

    section.section-faq
        .container
            .faq-item
                .faq-item__title
                    include ../img/sprite/svg/arrow.svg
                    h4.
                        Я попытался соединить две части с BLUFIXX. Это не сработало. Что это может быть?

                .faq-item__text
                    p.
                        BLUFIXX - универсальный ремонтный гель для фиксации, ремонта и моделирования. 
                        Светодиод сразу же затвердевает. BLUFIXX нельзя сравнивать с суперклеем.
                        Чтобы BLUFIXX полностью затвердел, светодиодный свет должен быть направлен 
                        на гель до 100%. Совет: «Ummantle» - две точки непрозрачной части с BLUFIXX. 
                        Это означает, что вы фиксируете обе части и перекрываете разрыв с помощью BLUFIXX. 
                        Теперь светодиод может полностью воздействовать на пластик и добиться желаемой силы.

            .faq-item
                .faq-item__title
                    include ../img/sprite/svg/arrow.svg
                    h4.
                        Как долго длится светодиод?

                .faq-item__text
                    p.
                        BLUFIXX - универсальный ремонтный гель для фиксации, ремонта и моделирования. 
                        Светодиод сразу же затвердевает. BLUFIXX нельзя сравнивать с суперклеем.
                        Чтобы BLUFIXX полностью затвердел, светодиодный свет должен быть направлен 
                        на гель до 100%. Совет: «Ummantle» - две точки непрозрачной части с BLUFIXX. 
                        Это означает, что вы фиксируете обе части и перекрываете разрыв с помощью BLUFIXX. 
                        Теперь светодиод может полностью воздействовать на пластик и добиться желаемой силы. 

            .faq-item
                .faq-item__title
                    include ../img/sprite/svg/arrow.svg
                    h4.
                        Усиливает ли BLUFIXX светодиод?

                .faq-item__text
                    p.
                        BLUFIXX - универсальный ремонтный гель для фиксации, ремонта и моделирования. 
                        Светодиод сразу же затвердевает. BLUFIXX нельзя сравнивать с суперклеем.
                        Чтобы BLUFIXX полностью затвердел, светодиодный свет должен быть направлен 
                        на гель до 100%. Совет: «Ummantle» - две точки непрозрачной части с BLUFIXX. 
                        Это означает, что вы фиксируете обе части и перекрываете разрыв с помощью BLUFIXX. 
                        Теперь светодиод может полностью воздействовать на пластик и добиться желаемой силы. 

            .faq-item
                .faq-item__title
                    include ../img/sprite/svg/arrow.svg
                    h4.
                        Как долго я могу использовать BLUFIXX?

                .faq-item__text
                    p.
                        BLUFIXX - универсальный ремонтный гель для фиксации, ремонта и моделирования. 
                        Светодиод сразу же затвердевает. BLUFIXX нельзя сравнивать с суперклеем.
                        Чтобы BLUFIXX полностью затвердел, светодиодный свет должен быть направлен 
                        на гель до 100%. Совет: «Ummantle» - две точки непрозрачной части с BLUFIXX. 
                        Это означает, что вы фиксируете обе части и перекрываете разрыв с помощью BLUFIXX. 
                        Теперь светодиод может полностью воздействовать на пластик и добиться желаемой силы.

            .faq-item
                .faq-item__title
                    include ../img/sprite/svg/arrow.svg
                    h4.
                        Почему BLUFIXX не извлекается, как описано?

                .faq-item__text
                    p.
                        BLUFIXX - универсальный ремонтный гель для фиксации, ремонта и моделирования. 
                        Светодиод сразу же затвердевает. BLUFIXX нельзя сравнивать с суперклеем.
                        Чтобы BLUFIXX полностью затвердел, светодиодный свет должен быть направлен 
                        на гель до 100%. Совет: «Ummantle» - две точки непрозрачной части с BLUFIXX. 
                        Это означает, что вы фиксируете обе части и перекрываете разрыв с помощью BLUFIXX. 
                        Теперь светодиод может полностью воздействовать на пластик и добиться желаемой силы. 

            .faq-item
                .faq-item__title
                    include ../img/sprite/svg/arrow.svg
                    h4.
                        В каких цветах доступен BLUFIXX?

                .faq-item__text
                    p.
                        BLUFIXX - универсальный ремонтный гель для фиксации, ремонта и моделирования. 
                        Светодиод сразу же затвердевает. BLUFIXX нельзя сравнивать с суперклеем.
                        Чтобы BLUFIXX полностью затвердел, светодиодный свет должен быть направлен 
                        на гель до 100%. Совет: «Ummantle» - две точки непрозрачной части с BLUFIXX. 
                        Это означает, что вы фиксируете обе части и перекрываете разрыв с помощью BLUFIXX. 
                        Теперь светодиод может полностью воздействовать на пластик и добиться желаемой силы. 

            .faq-item
                .faq-item__title
                    include ../img/sprite/svg/arrow.svg
                    h4.
                        До какой силы растяжения может использоваться BLUFIXX?

                .faq-item__text
                    p.
                        BLUFIXX - универсальный ремонтный гель для фиксации, ремонта и моделирования. 
                        Светодиод сразу же затвердевает. BLUFIXX нельзя сравнивать с суперклеем.
                        Чтобы BLUFIXX полностью затвердел, светодиодный свет должен быть направлен 
                        на гель до 100%. Совет: «Ummantle» - две точки непрозрачной части с BLUFIXX. 
                        Это означает, что вы фиксируете обе части и перекрываете разрыв с помощью BLUFIXX. 
                        Теперь светодиод может полностью воздействовать на пластик и добиться желаемой силы. 

            .faq-item
                .faq-item__title
                    include ../img/sprite/svg/arrow.svg
                    h4.
                        Я хотел бы сделать свой «стакан». Возможно ли это с BLUFIXX?

                .faq-item__text
                    p.
                        BLUFIXX - универсальный ремонтный гель для фиксации, ремонта и моделирования. 
                        Светодиод сразу же затвердевает. BLUFIXX нельзя сравнивать с суперклеем.
                        Чтобы BLUFIXX полностью затвердел, светодиодный свет должен быть направлен 
                        на гель до 100%. Совет: «Ummantle» - две точки непрозрачной части с BLUFIXX. 
                        Это означает, что вы фиксируете обе части и перекрываете разрыв с помощью BLUFIXX. 
                        Теперь светодиод может полностью воздействовать на пластик и добиться желаемой силы. 

            .faq-item
                .faq-item__title
                    include ../img/sprite/svg/arrow.svg
                    h4.
                        В чем разница между BLUFIXX и клеем?

                .faq-item__text
                    p.
                        BLUFIXX - универсальный ремонтный гель для фиксации, ремонта и моделирования. 
                        Светодиод сразу же затвердевает. BLUFIXX нельзя сравнивать с суперклеем.
                        Чтобы BLUFIXX полностью затвердел, светодиодный свет должен быть направлен 
                        на гель до 100%. Совет: «Ummantle» - две точки непрозрачной части с BLUFIXX. 
                        Это означает, что вы фиксируете обе части и перекрываете разрыв с помощью BLUFIXX. 
                        Теперь светодиод может полностью воздействовать на пластик и добиться желаемой силы. 
        
    include ./partials/footer
    include ./partials/scripts