doctype html
html(lang="ru")
  include ./partials/head
  body.page-index
    include ./partials/header

    section.section-main
      .bgline
        img(src="./img/pages/example/bg-line.png", alt="Image")
      .pulse(data-anim)
        img(src="./img/pages/elems/light-bg.png", alt="Image").light-bg
        img(src="./img/pages/elems/light-md.png", alt="Image").light-md
        .pulse-oval
          img(src="./img/pages/elems/pic-stift.png", alt="Image").stift
          img(src="./img/pages/elems/pic-blufixx.png", alt="Image").light

      .container
        .section-main__text
          i.ic-oval
          h5 Ремонт и соединение
          h1 Светоотверждаемый гель
          p.
            Маркер Блю-фикс поставляется, как готовый комплект со всем необходимым, чтобы начать использование. 
          a(href="").btn.btn-order.
            Заказать

    section.section-curing
      .container
        .ic-oval
        h2 BLUFIXX - Светоотверждаемый гель
        .row-flex
          .curing
            .curing-image.of-right
              i.ic-curing
                img(src="./img/pages/elems/curing-left.png", alt="")

              img(src="./img/pages/elems/pic-mgs.png", alt="")

            .curing-text(data-aos="fade-up")
              .curing-text__item
                i.ic-ch
                  svg: use(xlink:href="./img/sprite-inline.svg#ic-ch")
                h4 Склеивает детали
                p Позволяет склеивать детали, заполнять полости, восстанавливать форму поврежденных предметов.

              .curing-text__item
                i.ic-ch
                  svg: use(xlink:href="./img/sprite-inline.svg#ic-ch")
                h4 Гель
                p Сохраняет вязкую плотность на протяжении долгого времени, пока не будет отвержден светом фонарика.
              
              .curing-text__item
                i.ic-ch
                  svg: use(xlink:href="./img/sprite-inline.svg#ic-ch")
                h4 В 6 цветах
                p Гель выпускается в 6 цветах, которые можно создавать бесконечное количество оттенков или текстур.

          .curing
            .curing-image.of-left
              i.ic-curing
                img(src="./img/pages/elems/curing-right.png", alt="")

              img(src="./img/pages/elems/pic-pw.png", alt="")

            .curing-text(data-aos="fade-up")
              .curing-text__item
                i.ic-ch
                  svg: use(xlink:href="./img/sprite-inline.svg#ic-ch")
                h4 Фонарик на маркере
                p Гель затвердевает за несколько секунд под воздействием лед-фонарика.

              .curing-text__item
                i.ic-ch
                  svg: use(xlink:href="./img/sprite-inline.svg#ic-ch")
                h4 После отверждения
                p Гель можно сверлить, шлифовать, наносить лак, раскрашивать или полировать.  
              
              .curing-text__item
                i.ic-ch
                  svg: use(xlink:href="./img/sprite-inline.svg#ic-ch")
                h4 Гарантия и безопасность
                p Гель безопасен в использовании. Не содержит растворителей. Гарантируемый срок годности геля 5 лет при соблюдении правил эксплуатации. 


    section.section-overview
      .ic-oval
      h2 BLUFIXX - Готовый комплект
      .section-overview__video
        i.ic-bgC-1
          include ../img/sprite/svg/ic-bgC-1.svg

        i.ic-bgC-2
          include ../img/sprite/svg/ic-bgC-2.svg

        .container
          a(data-fancybox, href="https://www.youtube.com/embed/g9UpPLNM1wM?rel=0").video
            img(src="./img/pages/elems/pic-video-blufixx.png", alt="")
            i.video-play
              svg: use(xlink:href="./img/sprite-inline.svg#btn-play")
            i.video-line.top
              svg: use(xlink:href="./img/sprite-inline.svg#dec-dots-line-2")
            i.video-line.bottom
              svg: use(xlink:href="./img/sprite-inline.svg#dec-dots-line-2")
            .video-title
              h4 Блю-фикс (BluFixx)
              br
              p УФ склейка и реставрация. 
              p Отверждается ультрафиолетовым фонариком

      .section-overview__text
        .container
          .ul-thumb(data-aos="fade-up")
            .col-md-4.col-sm-6.col-xs-12
              .li-thumb
                i.ic-okay
                  svg: use(xlink:href="./img/sprite-inline.svg#ic-icon-okay")
                p.
                  Маркер BLUFIXX поставляется, как готовый комплект со всем необходимым, 
                  чтобы начать использование.
            .col-md-4.col-sm-6.col-xs-12
              .li-thumb
                i.ic-okay
                  svg: use(xlink:href="./img/sprite-inline.svg#ic-icon-okay")
                p.
                  Для использования геля другого цвета или с другой маркировкой 
                  достаточно сменить картридж. 
            .col-md-4.col-sm-6.col-xs-12
              .li-thumb
                i.ic-okay
                  svg: use(xlink:href="./img/sprite-inline.svg#ic-icon-okay")
                p.
                  Если нужно заменить батарейки в маркере - достаточно открутить крышку с лед-фонариком. 

    section.section-marker.of-mgs
      .container
        .section-marker__content
          .section-marker__text
            i.ic-oval
            h2 
              | BLUFIXX 
              span MGS
            h5 Для металла, стекла и камня 
            br
            p
              | Сплавы металлов, в т.ч. Алюминий, сталь,
            p
              | латунь, нержавейка, оцинкованные поверхности, медь, железо
            p
              | Стекло, хрусталь и кристаллы
            p
              | Камни, фарфор, керамика, мрамор, глиняные изделия

            form.select-color
              .select-color__type
                span.select-color__title Цвет:
                span.select-color__data Прозрачный
                
              .select-color__list
                label.color-1
                  input(type="radio", name="mgs", checked="checked", data-mgs="./img/pages/markers/kartusche_MGS_klar_300_freigestellt.png", data-mgs-bg="./img/pages/packing/mgs-klar.png")
                  span
                label.color-2
                  input(type="radio", name="mgs", data-mgs="./img/pages/markers/kartusche_MGS_weiss_300_freigestellt.png", data-mgs-bg="./img/pages/packing/mgs-weiss.png")
                  span
                label.color-3
                  input(type="radio", name="mgs", data-mgs="./img/pages/markers/kartusche_MGS_hellbraun_300_freigestellt.png", data-mgs-bg="./img/pages/packing/mgs-hellbraun.png")
                  span
                label.color-4
                  input(type="radio", name="mgs", data-mgs="./img/pages/markers/kartusche_MGS_rotbraun_300_freigestellt.png", data-mgs-bg="./img/pages/packing/mgs-rotbraun.png")
                  span
                label.color-5
                  input(type="radio", name="mgs", data-mgs="./img/pages/markers/kartusche_MGS_dunkelbraun_300_freigestellt.png", data-mgs-bg="./img/pages/packing/mgs-dunkelbraun.png")
                  span
                label.color-6
                  input(type="radio", name="mgs", data-mgs="./img/pages/markers/kartusche_MGS_schwarz_300_freigestellt.png", data-mgs-bg="./img/pages/packing/mgs-schwarz.png")
                  span

              button.btn.btn-order.
                Заказать

          .section-marker__image
            span.oval
            #mgs-pic
              img(src="./img/pages/markers/kartusche_MGS_klar_300_freigestellt.png", alt="")
            #mgs-bg
              img(src="./img/pages/packing/mgs-klar.png", alt="")

        .section-marker__example
          .row
            .col-md-3.col-xs-6
              .example
                img(src="./img/pages/elems/mgs-example-1.png", alt="Image")
                .example-text
                  h5 Люстра
                  span.ic-ov
            .col-md-3.col-xs-6
              .example
                img(src="./img/pages/elems/mgs-example-1.png", alt="Image")
                .example-text
                  h5 Кристал
                  span.ic-ov
            .col-md-3.col-xs-6
              .example
                img(src="./img/pages/elems/mgs-example-1.png", alt="Image")
                .example-text
                  h5 Ваза
                  span.ic-ov
            .col-md-3.col-xs-6
              .example
                img(src="./img/pages/elems/mgs-example-1.png", alt="Image")
                .example-text
                  h5 Хрусталь
                  span.ic-ov

        .section-marker__steps
          h2 
            | Шаг за шагом - 
            span MGS
          .ul-steps
            .row
              .col-md-4.col-xs-12
                img(src="./img/pages/elems/pic-mgs-1.png", alt="Image")
                span 1
                p Чистая поверхность

              .col-md-4.col-xs-12
                img(src="./img/pages/elems/pic-mgs-2.png", alt="Image")
                span 2
                p Примените BLUFIXX

              .col-md-4.col-xs-12
                img(src="./img/pages/elems/pic-mgs-3.png", alt="Image")
                span 3
                p Снимите защитное кольцо
            .row
              .col-md-4.col-xs-12
                img(src="./img/pages/elems/pic-mgs-4.png", alt="Image")
                span 4
                p Направьте фонарик

              .col-md-4.col-xs-12
                img(src="./img/pages/elems/pic-mgs-5.png", alt="Image")
                span 5
                p Отшлифовать участок

              .col-md-4.col-xs-12
                img(src="./img/pages/elems/pic-mgs-6.png", alt="Image")
                span 6
                p Ремонт готов !


    section.section-marker.of-pw
      .container
        .section-marker__content
          .section-marker__text
            i.ic-oval
            h2 
              | BLUFIXX 
              span PW
            h5 Для пластмассы и дерева
            br
            p
              | Пластмассы: АБС-пластик, акриловое стекло, плексиглас, меламиновые смолы, ПВХ, армированный стекловолокном пластик, целлулоид, поликарбонат, полиметилметакрилат, полистирол, сан-пластик, каучук.
            br
            p
              | (Не подходит для: полиэтилена, полиформальдегида, полипропилена, тефлона, фторопласта)
            br
            p
              | Все виды древесины, ДСП, фанера, МДФ      

            form.select-color
              .select-color__type
                span.select-color__title Цвет:
                span.select-color__data Прозрачный
                
              .select-color__list
                label.color-1
                  input(type="radio", name="color-2", checked="checked", data-pw="./img/pages/markers/kartusche_PW_klar_300_freigestellt.png", data-pw-bg="./img/pages/packing/pw-klar.png")
                  span
                label.color-2
                  input(type="radio", name="color-2", data-pw="./img/pages/markers/kartusche_PW_weiss_300_freigestellt.png", data-pw-bg="./img/pages/packing/pw-klar.png")
                  span
                label.color-3
                  input(type="radio", name="color-2", data-pw="./img/pages/markers/kartusche_PW_hellbraun_300_freigestellt.png", data-pw-bg="./img/pages/packing/pw-hellbraun.png")
                  span
                label.color-4
                  input(type="radio", name="color-2", data-pw="./img/pages/markers/kartusche_PW_rotbraun_300_freigestellt.png", data-pw-bg="./img/pages/packing/pw-rotbraun.png")
                  span
                label.color-5
                  input(type="radio", name="color-2", data-pw="./img/pages/markers/kartusche_PW_dunkelbraun_300_freigestellt.png", data-pw-bg="./img/pages/packing/pw-dunkelbraun.png")
                  span
                label.color-6
                  input(type="radio", name="color-2", data-pw="./img/pages/markers/kartusche_PW_schwarz_300_freigestellt.png", data-pw-bg="./img/pages/packing/pw-schwarz.png")
                  span

              button.btn.btn-order.
                Заказать

          .section-marker__image
            span.oval
            #pw-pic
              img(src="./img/pages/markers/kartusche_PW_klar_300_freigestellt.png", alt="")
            #pw-bg
              img(src="./img/pages/packing/pw-schwarz.png", alt="")

        .section-marker__example
          .row
            .col-md-3.col-xs-6
              .example
                img(src="./img/pages/elems/mgs-example-1.png", alt="Image")
                .example-text
                  h5 Люстра
                  span.ic-ov
            .col-md-3.col-xs-6
              .example
                img(src="./img/pages/elems/mgs-example-1.png", alt="Image")
                .example-text
                  h5 Кристал
                  span.ic-ov
            .col-md-3.col-xs-6
              .example
                img(src="./img/pages/elems/mgs-example-1.png", alt="Image")
                .example-text
                  h5 Ваза
                  span.ic-ov
            .col-md-3.col-xs-6
              .example
                img(src="./img/pages/elems/mgs-example-1.png", alt="Image")
                .example-text
                  h5 Хрусталь
                  span.ic-ov

        .section-marker__steps
          h2 
            | Шаг за шагом - 
            span PW
          .ul-steps
            .row
              .col-md-4.col-xs-12
                img(src="./img/pages/elems/pic-pw-1.png", alt="Image")
                span 1
                p Чистая поверхность

              .col-md-4.col-xs-12
                img(src="./img/pages/elems/pic-pw-2.png", alt="Image")
                span 2
                p Примените BLUFIXX

              .col-md-4.col-xs-12
                img(src="./img/pages/elems/pic-pw-3.png", alt="Image")
                span 3
                p Снимите защитное кольцо
            .row
              .col-md-4.col-xs-12
                img(src="./img/pages/elems/pic-pw-4.png", alt="Image")
                span 4
                p Направьте фонарик

              .col-md-4.col-xs-12
                img(src="./img/pages/elems/pic-pw-5.png", alt="Image")
                span 5
                p Отшлифовать участок

              .col-md-4.col-xs-12
                img(src="./img/pages/elems/pic-pw-6.png", alt="Image")
                span 6
                p Ремонт готов !


    section.section-overview
      .ic-oval
      h2 BLUFIXX - Фонарик
      .section-overview__video
        i.ic-bgC-1
          include ../img/sprite/svg/ic-bgC-1.svg

        i.ic-bgC-2
          include ../img/sprite/svg/ic-bgC-2.svg

        .container
          a(data-fancybox, href="https://www.youtube.com/embed/g9UpPLNM1wM?rel=0").video
            img(src="./img/pages/elems/pic-video-blufixx-2.png", alt="")
            i.video-play
              svg: use(xlink:href="./img/sprite-inline.svg#btn-play")
            i.video-line.top
              svg: use(xlink:href="./img/sprite-inline.svg#dec-dots-line-2")
            i.video-line.bottom
              svg: use(xlink:href="./img/sprite-inline.svg#dec-dots-line-2")
            .video-title
              h4 Блю-фикс (BluFixx)
              br
              p УФ склейка и реставрация. 
              p Отверждается ультрафиолетовым фонариком

      .section-overview__text
        .container
          .ul-thumb(data-aos="fade-up")
            .col-md-6.col-sm-12
              .li-thumb
                i.ic-okay
                  svg: use(xlink:href="./img/sprite-inline.svg#ic-icon-okay")
                p.
                  В среднем 1 комплект батареек обеспечивает работу лед-фонарика на 
                  протяжении 1-го часа. Этого хватает примерно на 100 склеиваний.
                  Фонарик работает от 4х батареек типа LR41. Для их замены необходимо снять предохранительное кольцо и открутить крышку.
            .col-md-6.col-sm-12
              .li-thumb
                i.ic-okay
                  svg: use(xlink:href="./img/sprite-inline.svg#ic-icon-okay")
                p.
                  Для использования лед-фонарика необходимо снять оранжевое предохранительное кольцо. 
                  И затем нажать на светодиод, чтобы фонарик включился. 
                  Нажать еще раз, чтобы он отключился.

    section.section-options
      .container
        .ic-oval
        h2 Блю-фикс в деталях:
        .row-flex
          .col-flex-4(data-aos="fade-up", data-aos-delay="100")
            i.ic-blufixx
              include ../img/sprite/svg/ic-opt-1.svg
            h4 Гель Блю-фикс:
            ul
              li Гарантируется сохранение свойств в течении 5 лет после вскрытия и начала использования картриджа
              li Отверждается только под воздействием специального лед-фонарика
              li Не содержит растворителей
              li Поставляется в 6 цветах

          .col-flex-4(data-aos="fade-up", data-aos-delay="300")
            i.ic-blufixx
              include ../img/sprite/svg/ic-opt-2.svg
            h4 Лед-фонарик:
            ul
              li Безопасный
              li Длинна волны 405 нм (сине-фиолетовый спектр)
              li Работает от 4х сменных батареек типа LR41
              li Максимальная дистанция для идеального отверждения 2 см
              li Одного комплекта батареек хватает примерно на 100 склеиваний

          .col-flex-4(data-aos="fade-up", data-aos-delay="500")
            i.ic-blufixx
              // include ../img/sprite/svg/ic-opt-3.svg
              svg: use(xlink:href="./img/sprite-inline.svg#ic-opt-3")
            h4 Блю-фикс гель после отверждения:
            ul
              li Высокая прочность и водостойкость
              li Сохраняет прочность в диапазоне от -40 °C и до + 140 °C
              li Создает высокоупругое соединение и выдерживает нагрузку до 53кг/см²

    section.section-information
      .container
        .section-information__image(data-aos="fade-left")
          img(src="./img/pages/elems/pic-info.png", alt="")

        .section-information__form(data-aos="fade-up", data-aos-delay="100")
          h4 ВСЕ КАЧАСТВА В ОДНОМ МАРКЕРЕ
          p Узнайте интересные факты об использовании нашего продукта и вы сможете в полной мере ощутить все преимущества.
          a(href="#").btn.btn-order Узнать
          a(href="#").btn.btn-pay Купить

    include ./partials/footer
    include ./partials/scripts