@media screen and (max-width: 991px)
    .footer
        .section-main__pulse
            @include vwplusemtb('width', 100)
            @include vwplusemtb('height', 100)
        &__nav
            overflow: hidden
            line-height: normal
            @include vwplusemtb('padding-top', 35)
            @include vwplusemtb('padding-bottom', 30)
        &__copy 
            @include vwplusemtb('height', 50)
            @include vwplusemtb('line-height', 50)
            &-title
                $f: 16
                @include vwplusemtb('font-size', $f)
            &-company
                $f: 14
                @include vwplusemtb('font-size', $f)
        .menu
            display: flex
            flex-wrap: wrap
            @include vwplusemtb('padding-bottom', 10)
            li
                width: 50%
                margin-right: 0
                @include vwplusemtb('margin-bottom', 15)
                a
                    $f: 16
                    @include vwplusemtb('font-size', $f)

        .pulse
            left: 15%
            top: 30%
            &-oval
                @include vwplusemtb('width', 100)
                @include vwplusemtb('height', 100)