@media screen and (max-width: 991px)
    .container
        max-width: 100%
        @include vwplusemtb('padding-left', 28)
        @include vwplusemtb('padding-right', 28)

    .row
        @include vwplusemtb('margin-left', -15)
        @include vwplusemtb('margin-right', -15)

    .col-sm-6
        @include vwplusemtb('padding-left', 15)
        @include vwplusemtb('padding-right', 15)

    .col-sm-12
        @include vwplusemtb('padding-left', 15)
        @include vwplusemtb('padding-right', 15)

    .col-md-6
        @include vwplusemtb('padding-left', 15)
        @include vwplusemtb('padding-right', 15)

    //Main text blocks=======================================================================================>
    h1
        $f: 40
        @include vwplusemtb('font-size', $f)
    h2
        $f: 34
        @include vwplusemtb('font-size', $f)
    h4
        $f: 22
        @include vwplusemtb('line-height', 34, $f)
        @include vwplusemtb('font-size', $f)

    h5
        $f: 22
        @include vwplusemtb('font-size', $f)

    p
        $f: 16
        @include vwplusemtb('font-size', $f)

    .btn
        $f: 18
        @include vwplusemtb('width', 174, $f)
        @include vwplusemtb('line-height', 46, $f)
        @include vwplusemtb('font-size', $f)

    .ic-oval
        &:after
            @include vwplusemtb('width', 10)
            @include vwplusemtb('height', 10)
            @include vwplusemtb('margin-bottom', 22)

    #scrollUp
        top: 12%
        right: 5%
        @include vwplusemtb('width', 46)
        @include vwplusemtb('height', 46)
        svg
            @include vwplusemtb('width', 12)
            @include vwplusemtb('height', 20)

    .loading
        background: #ffffff
        height: 100vh
        padding-top: 31em
        text-align: center
        position: fixed
        width: 100%
        left: 0
        top: 0
        z-index: 100500
        .logo
            @include vwplusemtb('width', 250)
            @include vwplusemtb('height', 40)