@media screen and (max-width: 991px)
    .menu-on
        height: 100%
        overflow: hidden
        position: fixed
        header
            background-color: #ffffff
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            z-index: 10
            height: 100%
            overflow-y: scroll
            .nav-menu
                display: block
                float: none
                text-align: center
                @include vwplusemtb('margin-top', 50)
                @include vwplusemtb('margin-bottom', 20)
            .menu
                display: inline-block
                @include vwplusemtb('margin-bottom', 25)
                @include vwplusemtb('min-width', 250)
                li
                    margin: 0
                    display: block
                    border-bottom: solid 1px #dddddd
                    @include vwplusemtb('line-height', 40)
                    @include vwplusemtb('margin-top', 25)
                    &:last-child
                        border: none
                    a
                        $f: 18
                        @include vwplusemtb('font-size', $f)

            .button-toggle
                vertical-align: middle
                i
                    background-color: transparent
                    &:before
                        transform: translateY(-50%) rotate(45deg) scale(1)
                        margin: 0
                    &:after
                        transform: translateY(-50%) rotate(-45deg) scale(1)
                        margin: 0
                        width: 100%
    .header
        @include vwplusemtb('line-height', 75)
        .button-toggle i, .hide-toggle
            display: inline-block
        
        .nav-menu
            display: none
        .btn
            display: block
            margin: auto

    .logo
        @include vwplusemtb('height', 15)
        @include vwplusemtb('width', 140)

    .menu li a:hover
        color: #3232ff
        &:after
            display: none