@media screen and (max-width: 991px)
    .section-main
        @include vwplusemtb('padding-top', 65)
        @include vwplusemtb('padding-bottom', 100)
        @include vwplusemtb('height', 500)
        p
            $f: 18
            position: relative
            @include vwplusemtb('width', 500, $f)
            @include vwplusemtb('margin-top', 20, $f)
            @include vwplusemtb('margin-bottom', 40, $f)
        .bgline
            @include vwplusemtb('bottom', 50)
            img
                width: 100%
        .pulse
            position: absolute
            right: -6%
            top: 25%

            .light-bg, .light-md
                position: absolute
                z-index: 2

            .light-bg
                @include vwplusem('left', 30)
                @include vwplusem('top', -47)
                @include vwplusem('width', 490)
            .light-md
                @include vwplusem('left', 13)
                @include vwplusem('top', 14)
                @include vwplusem('width', 490)
            &-oval
                background-color: #3030bd
                border-radius: 100%
                -webkit-backface-visibility: hidden
                -moz-backface-visibility: hidden
                -webkit-transform: translate3d(0, 0, 0)
                -moz-transform: translate3d(0, 0, 0)
                @include vwplusemtb('height', 340)
                @include vwplusemtb('width', 340)
                .stift
                    position: absolute
                    animation: anim-stift 1s
                    left: 0
                    @include vwplusemtb('top', -65)
                    @include vwplusemtb('width', 280)
                    @include vwplusemtb('height', 200)
                .light
                    position: absolute
                    animation: anim-pen 1s
                    @include vwplusemtb('right', 20)
                    @include vwplusemtb('bottom', 18)
                    @include vwplusemtb('width', 230)
                    @include vwplusemtb('height', 180)


    .section-overview
        @include vwplusemtb('margin-top', 97)
        @include vwplusemtb('margin-bottom', 97)
        &__content
            i
                @include vwplusemtb('top', 6)
                @include vwplusemtb('left', -40)
                @include vwplusemtb('width', 22)
                @include vwplusemtb('height', 22)
            
        .video
            @include vwplusemtb('height', 280)
            @include vwplusemtb('margin-top', 50)
            @include vwplusemtb('margin-bottom', 20)
            &-play
                @include vwplusemtb('width', 50)
                @include vwplusemtb('height', 50)

            &-line
                @include vwplusemtb('height', 150)
                @include vwplusemtb('width', 2)

        .ul-thumb
            margin-top: 0
            @include vwplusemtb('margin-left', 10)
            @include vwplusemtb('margin-right', 10)
            .li-thumb
                @include vwplusemtb('padding-left', 44)
                @include vwplusemtb('margin-top', 36)

        .ic-okay
            @include vwplusemtb('top', 6)
            @include vwplusemtb('height', 22)
            @include vwplusemtb('width', 22)
            svg
                height: 100%
                width: 100%

        .ic-bgC-1
            @include vwplusemtb('height', 80)
        .ic-bgC-2
            @include vwplusemtb('height', 180)

    .section-curing
        overflow: hidden
        @include vwplusemtb('margin-top', 60)
        @include vwplusemtb('margin-bottom', 60)
        .row-flex
            display: block
        .curing
            width: 100%
            @include vwplusemtb('margin-top', 90)
            &-image
                margin-top: 0
                @include vwplusemtb('width', 280)
                @include vwplusemtb('height', 440)
                &.of-right
                    @include vwplusemtb('margin-right', -30)
                    .ic-curing
                        @include vwplusemtb('right', 365)
                        @include vwplusemtb('bottom', 300)
                        @include vwplusemtb('width', 340)
                        @include vwplusemtb('height', 321)
                    img
                        transform: translate(-50%, 30%)
                        @include vwplusemtb('width', 360)
                        @include vwplusemtb('height', 360)
                    & + .curing-text
                        @include vwplusemtb('margin-left', 20)

                &.of-left
                    .ic-curing
                        @include vwplusemtb('left', 300)
                        @include vwplusemtb('bottom', 400)
                        @include vwplusemtb('width', 390)
                        @include vwplusemtb('height', 290)
                    img
                        transform: translate(5%,-10%)
                        @include vwplusemtb('width', 360)
                        @include vwplusemtb('height', 360)
                    & + .curing-text
                        @include vwplusemtb('margin-top', -150)
                        @include vwplusemtb('margin-right', 20)

            &-text
                @include vwplusemtb('width', 255)
                &__item
                    @include vwplusemtb('margin-top', 45)
                    @include vwplusemtb('padding-bottom', 20)
                    i
                        @include vwplusemtb('width', 16)
                        @include vwplusemtb('height', 13)
                        @include vwplusemtb('top', 12)
                    h4
                        @include vwplusemtb('padding-left', 30, 22)
                        @include vwplusemtb('margin-bottom', 15, 22)

    .section-marker
        @include vwplusemtb('margin-top', 97)
        @include vwplusemtb('margin-bottom', 97)
        &__text
            @include vwplusemtb('margin-bottom', 100)
            h2
                @include vwplusemtb('margin-bottom', 5, 34)
        &__image
            position: absolute
            bottom: 0
            @include vwplusemtb('width', 567)
            #mgs-pic
                img
                    transform: rotate(12deg)
                    left: 0
                    @include vwplusemtb('bottom', 40)
                    @include vwplusemtb('width', 260)
            #pw-pic
                img
                    transform: rotate(-12deg)
                    right: 0
                    @include vwplusemtb('bottom', 150)
                    @include vwplusemtb('width', 260)    
            .oval
                @include vwplusemtb('height', 567)

        &__example
            @include vwplusemtb('margin-top', 60)
            @include vwplusemtb('margin-bottom', 60)
            .example
                @include vwplusemtb('height', 160)   
                &-text
                    @include vwplusemtb('padding-top', 17)
                    @include vwplusemtb('padding-bottom', 17)
                    h5
                        $f: 16
                        @include vwplusemtb('font-size', $f)
                        @include vwplusemtb('margin-bottom', 10, $f)
        &__steps
            @include vwplusemtb('margin-top', 60)
            @include vwplusemtb('margin-bottom', 60)
            h2
                @include vwplusemtb('margin-bottom', 50, 40)
            img
                margin-top: 0
                @include vwplusemtb('height', 110)
                @include vwplusemtb('margin-top', 5)
                @include vwplusemtb('margin-bottom', 20)
            .ul-steps
                span
                    $f: 34
                    @include vwplusemtb('font-size', $f)
                    @include vwplusemtb('line-height', 44, $f)
                p
                    $f: 14
                    @include vwplusemtb('font-size', $f)
                    @include vwplusemtb('margin-left', 30, $f)

        &.of-mgs
            .section-marker__image
                right: 0
                transform: translateX(50%)
            .section-marker__text
                @include vwplusemtb('width', 492)
            .section-marker__content
                @include vwplusemtb('margin-right', -25)
        &.of-pw
            .section-marker__image
                left: 0
                transform: translateX(-50%)
            .section-marker__text
                @include vwplusemtb('width', 430)
            .section-marker__content
                @include vwplusemtb('margin-right', -25)

    .select-color
        @include vwplusemtb('margin-top', 45)
        &__list
            @include vwplusemtb('margin-top', 40)
            @include vwplusemtb('margin-bottom', 45)
        &__title
            $f: 22
            @include vwplusemtb('font-size', $f)
            @include vwplusemtb('margin-right', 23, $f)
        &__data
            $f: 22
            @include vwplusemtb('font-size', $f)
        label
            @include vwplusemtb('width', 46)
            @include vwplusemtb('height', 46)
            @include vwplusemtb('margin-right', 25)
            span
                @include vwplusemtb('border-width', 11)

    .section-options
        @include vwplusemtb('margin-top', 60)
        @include vwplusemtb('margin-bottom', 60)   
        h4
            $f: 22
            @include vwplusemtb('padding-left', 30, $f)
            @include vwplusemtb('margin-top', 22, $f)
            @include vwplusemtb('margin-bottom', 22, $f)
        ul
            li
                $f: 14
                @include vwplusemtb('font-size', $f)
                @include vwplusemtb('margin-top', 15, $f)
                @include vwplusemtb('padding-left', 30, $f)
                &:before
                    @include vwplusemtb('top', 11, $f)
                    @include vwplusemtb('width', 10, $f)
        .row-flex
            @include vwplusemtb('margin-top', 64)   
            .col-flex-4
                @include vwplusemtb('width', 278)
                @include vwplusemtb('margin-bottom', 40) 
                @include vwplusemtb('margin-left', 20) 
                @include vwplusemtb('margin-right', 20) 
        .ic-blufixx
            @include vwplusemtb('height', 203)

    .section-information
        text-align: center
        @include vwplusemtb('margin-top', 60)
        @include vwplusemtb('margin-bottom', 60)
        &__form
            @include vwplusemtb('margin-top', 100)
            @include vwplusemtb('margin-bottom', 100)
            @include vwplusemtb('width', 490)
            p
                $f: 16
                @include vwplusemtb('margin-top', 8, $f)
                @include vwplusemtb('margin-bottom', 8, $f)
            a
                $f: 18
                @include vwplusemtb('margin-top', 40, $f)
        &__image
            display: block
            float: none
            margin: auto
            @include vwplusemtb('width', 660)
            @include vwplusemtb('height', 305)
            img
                left: 0


    @keyframes mgs-pic
        from
            opacity: 0
            transform: rotate(20deg) rotate(12deg)
            
        to
            opacity: 1
            transform: rotate(0) rotate(12deg)

    @keyframes pw-pic
        from
            opacity: 0
            transform: rotate(-20deg) rotate(-12deg)
            
        to
            opacity: 1
            transform: rotate(0) rotate(-12deg)
