.footer
    position: relative
    background-color: #141414
    overflow: hidden
    .logo
        path
            fill: #ffffff
        #op-line
            fill: rgb(1, 182, 232)
    .menu li a
        color: #ffffff
        &:after
            top: 100%
            transform: translateY(-100%)
            background-color: #ffffff
    .btn-pay
        color: #ffffff
        border-color: #ffffff
    &__nav
        position: relative
        border-bottom: 1px solid #444142
        @include vwplusem('line-height', 130)
    &__copy 
        color: #b3b3b3
        position: relative
        width: 100%
        overflow: hidden
        @include vwplusem('height', 68)
        @include vwplusem('line-height', 68)
        &-title
            $f: 16
            float: left
            font-family: Roboto
            @include vwplusem('font-size', $f)
        &-company
            $f: 14
            float: right
            font-family: Roboto
            @include vwplusem('font-size', $f)
            a
                color: #ffffff
                text-decoration: underline

    .pulse
        position: absolute
        left: 22.5%
        top: 12%
        z-index: 0
        &-oval
            background-color: #3232ff
            border-radius: 100%
            opacity: 0.34
            @include vwplusem('width', 135)
            @include vwplusem('height', 135)