//Mixins===============================================================================================================>
@function strip-units($value)
  @return $value / ($value * 0 + 1)

@function em($pixels, $font: 10px)
  $newval: $pixels / $font
  @return #{strip-units($newval)}em

@function tovw($pixels, $vpWidth: 640px)
  $newval: ($pixels / $vpWidth) * 100
  @return #{strip-units($newval)}vw

@function tovh($pixels, $vpHeight: 640px)
  $newval: ($pixels / $vpHeight) * 100
  @return #{strip-units($newval)}vh


//Fonts================================================================================================================>
$main-font: 'Oswald', sans-serif
$font-alt:  'Bebas Neue', serif

@mixin vwplusem($selector, $pixels, $font: 10px, $vpWidth: 1800px)
  @if($vpWidth >= 1800px)
    #{$selector} : em($pixels, $font)
    @media (max-width: 1800px)
      #{$selector} : tovw($pixels, $vpWidth)


@mixin vwplusemtb($selector, $pixels, $font: 10px, $vpWidth: 768px)
  #{$selector} : tovw($pixels, $vpWidth)
@mixin vwplusemmb($selector, $pixels, $font: 10px, $vpWidth: 640px)
  #{$selector} : tovw($pixels, $vpWidth)

@mixin clearfix()
  &:before,
  &:after
    content: ""
    display: table
  &:after
    clear: both

@mixin decBefore($width, $height, $color: #ffffff, $top: auto, $left: auto, $right: auto, $bottom: auto)
  &::before
    content: ''
    position: absolute
    display: inline-block
    width: $width
    height: $height
    top: $top
    left: $left
    right: $right
    bottom: $bottom
    background: $color

@mixin decAfter($width, $height, $color: #ffffff, $top: auto, $left: auto, $right: auto, $bottom: auto)
  &::after
    content: ''
    position: absolute
    display: inline-block
    width: $width
    height: $height
    top: $top
    left: $left
    right: $right
    bottom: $bottom
    background: $color

  &:after
    clear: both

@mixin textStyle($font-size, $font-weight: 400, $color: #000000, $font-family: $main-font)
  font-family: $font-family
  @include vwplusem('font-size', $font-size)
  color: $color
  font-weight: $font-weight

@mixin imageAlign($x: -50%, $y: -50%)
  min-width: 100%
  min-height: 100%
  transform: translate($x, $y)
  position: absolute
  left: 50%
  top: 50%

@mixin justifyAlign
  &:after
    content: ""
    display: inline-block
    width: 100%

@mixin absCenter()
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

@mixin placeholderColor($color)
  &::-webkit-input-placeholder
    color: $color
  &::-moz-placeholder
    color: $color
  &:-moz-placeholder
    color: $color
  &:-ms-input-placeholder
    color: $color
@mixin mainTransition($speed: 0.2s, $property: all)
  transition: $property $speed ease-in

//Colors===============================================================================================================>
$text-blue-light: #9ebadd
$text-blue-dark: #6c86a9
$text-blue-header: #004075

$text-pink: #3a1076

$text-black: #222222

$text-gray: #616d76

$text-crimson: #c7094a

$btn-bg: #c7094a
$btn-bg-hover: #d90b53

$background-gray: #f5f6f8

//Removing default properties==========================================================================================>
p,div,h1,h2,h3,h4,h5,h6,ul,ol,a,li,form, input, button, fieldset
  margin: 0
  padding: 0
  border: none

//Hide spin-buttons for input(number)
input[type=number]
  -moz-appearance: textfield

input[type=number]::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

*, *:focus
  outline: none

*
  box-sizing: border-box

a:focus
  outline: none

//Main blocks==========================================================================================================>
html
  height: 100%

body
  height: 100%
  position: relative
  font-size: 10px
  min-width: 320px
  box-sizing: border-box
  font-family: $main-font
  -webkit-font-smoothing: antialiased
  @include vwplusem('padding-top', 90)

//===========================================================================================  
main
  overflow: hidden

.container
  @include vwplusem('max-width', 1200)
  @include vwplusem('padding-left', 20)
  @include vwplusem('padding-right', 20)
  margin: 0 auto

.row
  @include clearfix()
  @include vwplusem('margin-left', -15)
  @include vwplusem('margin-right', -15)

.row-flex
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center

.row:after, .row-before
  display: table
  content: ""


.col-md-3
  width: 25%
  float: left
  @include vwplusem('padding-left', 15)
  @include vwplusem('padding-right', 15)

.col-md-4
  width: 33.3333%
  float: left
  @include vwplusem('padding-left', 15)
  @include vwplusem('padding-right', 15)

.col-md-6
  width: 50%
  float: left
  @include vwplusem('padding-left', 15)
  @include vwplusem('padding-right', 15)

.col-md-12
  width: 100%
  float: left
  @include vwplusem('padding-left', 15)
  @include vwplusem('padding-right', 15)

//Main text blocks=====================================================================================================>
h1
  $f: 50
  line-height: 1.52
  font-weight: 500
  @include vwplusem('font-size', $f)
h2
  $f: 34
  color: #333333
  font-weight: 500
  line-height: 1.18
  @include vwplusem('font-size', $f)
  span
    color: #2f2fbc
h4
  $f: 22
  font-weight: 400
  color: #333333
  @include vwplusem('line-height', 34, $f)
  @include vwplusem('font-size', $f)

h5
  $f: 22
  font-family: 'Roboto'
  font-weight: normal
  line-height: 1.82
  color: #2f2fbc
  @include vwplusem('font-size', $f)

p
  $f: 16
  color: #474747
  line-height: 1.69
  font-weight: normal
  font-family: 'Roboto'
  @include vwplusem('font-size', $f)
a
  text-decoration: none

//Classes =============================================================================================================>
.modal-box
  display: none

.fancybox-slide--iframe .fancybox-content
  @include vwplusem('max-width', 800)
  @include vwplusem('max-height', 600)

//Preloader
.preloader
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  max-height: 100vh
  z-index: 999999
  display: flex
  align-content: center
  align-items: center
  justify-content: center
  background-color: #004075

  &-img
    width: 120px
    height: 40px
    svg
      width: 120px
      height: 40px
.btn
  $f: 18
  font-weight: 500
  border: 1px solid #3232ff
  border-radius: 4px
  display: inline-block
  text-align: center
  cursor: pointer
  position: relative
  z-index: 1
  transition: .5s
  @include vwplusem('width', 174, $f)
  @include vwplusem('line-height', 46, $f)
  @include vwplusem('font-size', $f)
  &:before
    position: absolute
    content: ''
    width: 0
    height: 100%
    background: transparent
    top: 0
    left: auto
    right: 0
    z-index: 1
    transition: all 500ms ease
    border-radius: 4px

.btn-pay
  color: #2f2fbc
  border: solid 1px #2f2fbc
  &:hover
    color: #ffffff
    &:before
      width: 100%
      background: #2f2fbc
      top: 0
      left: 0
      right: 0
      z-index: -1

.btn-order
  color: #ffffff
  border-radius: 4px
  background-color: #3232ff
  box-shadow: 0 13px 31px 0 rgba(0, 0, 0, 0.19)
  @include vwplusem('margin-right', 24, 18)
  &:hover
    color: #3232ff
    &:before
      width: 100%
      background: #ffffff
      top: 0
      left: 0
      right: 0
      z-index: -1

.ul-thumb
  display: flex
  flex-wrap: wrap
  text-align: left
  overflow: hidden
  @include vwplusem('margin-top', 50)
  @include vwplusem('margin-bottom', 50)

.ic-oval
  position: relative
  text-align: center
  &:after
    content: ''
    display: inline-block
    border-radius: 100%
    background-color: #3232ff
    @include vwplusem('width', 10)
    @include vwplusem('height', 10)
    @include vwplusem('margin-bottom', 22)

#scrollUp
  position: fixed
  opacity: 0
  top: 20%
  right: 14%
  z-index: 2
  border-radius: 4px
  background-color: #3232ff
  transition: .7s
  box-shadow: 0 13px 31px 0 rgba(0, 0, 0, 0.19)
  border: solid 1px #3232ff
  transform: rotate(-90deg)
  @include vwplusem('width', 46)
  @include vwplusem('height', 46)
  svg
    transform: rotate(90deg)
    display: inline-block
    vertical-align: middle
  &.fixed
    opacity: 1
  &:before
    position: absolute
    content: ''
    height: 100%
    width: 0
    background: transparent
    top: 0
    left: auto
    right: 0
    z-index: 1
    transition: all 500ms ease
    border-radius: 4px
  &:hover
    color: #3232ff
    path
      fill: #3232ff
    &:before
      width: 100%
      background: #ffffff
      top: 0
      left: 0
      right: 0
      z-index: -1
    
  svg
    @include vwplusem('width', 12)
    @include vwplusem('height', 20)

.loading
  background: #ffffff
  height: 100vh
  padding-top: 31em
  text-align: center
  position: fixed
  width: 100%
  left: 0
  top: 0
  z-index: 100500
  .logo
    @include vwplusem('width', 250)
    @include vwplusem('height', 40)
  &__box
    margin-left: auto
    margin-right: auto
    left: 50%
    top: 50%
    position: absolute
    transform: translate(-50%, -50%)
  &__loader
    width: 8em
    height: 4em
    margin-left: auto
    margin-right: auto
    margin-bottom: 3em
    overflow: hidden
    &__box
      width: 8em
      height: 4em
      overflow: hidden
      -webkit-transform-origin: bottom center
      -ms-transform-origin: bottom center
      transform-origin: bottom center
      animation: loader 2s infinite
      &:after
        content: ''
        width: 8em
        height: 8em
        border-radius: 50%
        border-style: solid
        border-color: #000000
        border-width: 12px
        display: block
        animation: loader_border 2s infinite
        box-sizing: border-box


    @keyframes loaderProgress
      0%
        -webkit-transform: translateX(0)
        transform: translateX(0)

      100%
        -webkit-transform: translateX(100%)
        transform: translateX(100%)

    @keyframes loader 
      0%, 100%
        -webkit-transform: rotate(-160deg)
        transform: rotate(-160deg)

      50%
        -webkit-transform: rotate(160deg)
        transform: rotate(160deg)

    @keyframes zoomOut
      from
        opacity: 1

      50%
        opacity: 0
        -webkit-transform: rotate(.3, .3, .3)
        transform: rotate(.3, .3, .3)

      to 
        opacity: 0

    @keyframes loader_border
      0%, 50%
        border-width: 12px

      25%
        border-width: 5px

      75%
        border: 5px solid #000000

      100%
        border: 12px solid #000000