

.header
    position: fixed
    top: 0
    left: 0
    right: 0
    width: 100%
    z-index: 10
    background-color: #fff
    overflow: hidden
    border-bottom: 1px solid #3232ff
    @include vwplusem('line-height', 90)
    .button-toggle
        cursor: pointer
        position: absolute
        background-color: #fff
        top: 0
        @include vwplusemtb('right', 20)
        i
            display: none
            width: 25px
            height: 3px
            background-color: #000
            border: none
            transition: .6s
            position: relative
            vertical-align: middle
            &:after, &:before
                position: absolute
                content: ""
                top: 50%
                right: 0
                height: 3px
                border-radius: 5px
                transition: .5s
                background-color: #000000
            &:before
                width: 100%
                margin-top: -10px
            &:after
                width: 70%
                margin-top: 6px

.logo
    display: inline-block
    vertical-align: middle
    @include vwplusem('height', 18)
    @include vwplusem('width', 161)
    svg
        display: block
        width: 100%
        height: 100%
        
.nav-menu
    float: right

.menu
    list-style: none
    display: inline-block
    li 
        display: inline-block
        position: relative
        @include vwplusem('margin-right', 50)
        a
            $f: 18
            color: #333333
            font-weight: 500
            @include vwplusem('font-size', $f)
            &:after
                content: ''
                display: none
                position: absolute
                top: 0
                left: 0
                width: 100%
                background-color: #3232ff
                height: 2px
            &:hover
                color: #3232ff
                &:after
                    display: inline-block