#modal-reviews.modal-box
    h4 Отзыв
    form(action="").row
        .col-md-12
            input(type="text", placeholder="Тема")
        .col-md-6
            input(type="text", placeholder="Имя")
        .col-md-6
            input(type="text", placeholder="Фамилия")
        .col-md-12
            input(type="text", placeholder="E-mail")
        .col-md-12
            textarea(name="", cols="30", rows="10", placeholder="Сообщение")
        button.btn-send.
            отправить отзыв

#modal-reviews-access.modal-box
    h4 Спасибо за Ваш отзыв!

#modal-letter.modal-box
    h4 Письмо директору
    form(action="").row
        .col-md-12
            input(type="text", placeholder="Тема")
        .col-md-6
            input(type="text", placeholder="Имя")
        .col-md-6
            input(type="text", placeholder="E-mail")
        .col-md-12
            textarea(name="", cols="30", rows="10", placeholder="Сообщение")
        button.btn-send.
            ОТПРАВИТЬ ЗАЯВКУ

#modal-letter-access.modal-box
    h4 Спасибо за Ваше письмо!